@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-12">
        <textarea id="displaymensagem" cols="100" rows="20">

        </textarea>
        <br />
        <label>
            Mensagem:
        </label>
        <div class="mt-2">
        <input type="text" id="mensagem" style="width:500px" />

        <button id="Enviar" type="submit" class="btn btn-primary">Enviar</button>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/main.js"></script>
